<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Llvm.Libs.core.pdbs.x64-Debug" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x64-Debug" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x64-Release" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x64-Debug" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x64-Release" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.x64" version="6.0.0" targetFramework="native" developmentDependency="true" />
</packages>